html{
  padding: 35px 35px;
  background: #2f2f2f;

}
#page-wrap{
  background: #2f2f2f;
  color: #bbb;
  height: 100%;
  font-size: 18px;

}

body{
  margin:50px;
  color: gray;
/*   font-family: 'Open Sans', sans-serif; */
  font-family: 'Architects Daughter',cursive;
  font-size: 15px;
}
.navbar{
  background: #696969;
  border: 2px solid silver;
  
}
.navbar-light .navbar-brand {
  color: white;
}
.container-fluid{
  padding:5px;
  margin: 10px;
}

.mainBar{
  background: #696969;
  text-align: left;
  margin: 40px;
}

.mainBar em{
  color: #ffcc66;
  font-weight: bolder;
}

.mainBar img {
  border: 3px;
  /*color solid silver;*/
  border-radius: 4px;
  padding: 5px;
  max-width:100%;
  margin:5px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.card {
    margin: 2px;
    background: silver;
    font-size:75%;
    color:black;
}

.btn{
    margin: 2px;
    width: 25%;
    background: #ffcc66;
    border: none;
    font-size: 90%;
    color: black;
}

p{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
/*   font-family: 'Open Sans', sans-serif; */
}

.active {
  font-weight: bold;
}

#cent{
  margin-top:auto;
  margin-bottom: auto;
  margin-left: 20px;
  padding:10px;
}

#img{ 
  margin-top:20px;
/*   margin-bottom: auto; */
  padding:5px;
}
#footer {
  margin: 0px;
  text-align: center;
  font-size: 80%;
  color: white;
}

#footer div{
  margin: 20px;
}
